VITE_REST_URL=http://localhost:3000
VITE_HUBSPOT_MEETING_NO_FOLLOW_UP_MEDECINE=https://go.madeformed.com/meetings/vivien-madeformed/demo-meeting-pas-de-medecine-de-suivi
VITE_HUBSPOT_MEETING_POST_DEMO=https://go.madeformed.com/meetings/vivien-madeformed/demo-vente-reunion-debrif-demo
VITE_HUBSPOT_MEETINGS_POST_DEMO="{}"